<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platinum Preloved</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
          <!-- Google Fonts Links -->
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex-column justify-space-around">

        <header class="display-flex justify-space-between align-center p-2" id="header-banner">

            <h1>
                <a href="/">Welcome!</a>
            </h1>

            <nav>
                {{#if logged_in}}

                <a href="/profile">Your Profile</a>
                <button id="logout">Log Out</button>

                {{else}}

                <a href="/login">Log In</a>

                {{/if}}
            </nav>

        </header>
        <main>
            {{{ body }}}
        </main>

        <footer>

        </footer>
    </div>

    
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>
</html>