<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platinum Pre Loved</title>
    <link rel="stylesheet" type="text/css" href="./../../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="header">
        <h1 id="logo">PLATINUM</h1>
        <h2 id="logo-2">PRE-LOVED</h2>
        
        <nav>
                {{#if logged_in}}

                <a href="/profile">Your Profile</a>
                <button id="logout">Log Out</button>

                <a href="/review">Your Reviews!</a>

                {{else}}

                <a href="/login">Log In</a>

                {{/if}}
            </nav>

            <h3>
                <a href="/">Welcome!</a>
            </h3>
        </header>
    
    <div class="hero-image">
    </div>
    

        <main>
            {{{ body }}}
        </main>

        <footer>

        </footer>

    
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>
</html>