<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platinum Pre Loved</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="header">
        <div class="logo"><a id="homepage" href="/">PLATINUM</a></div>
        <h2 class="logo-2">PRE-LOVED</h2>
                    <p class="tagline">Sell your pre-loved Jewellery Online!</p>
    </header>
    <hr class="solid">
        <nav>
                {{#if logged_in}}

                <a href="/profile">Your Profile</a>
                <button id="logout">Log Out</button>

                <a href="/review">Your Reviews!</a>

                {{else}}

                <a class="login" href="/login">Log In</a>

                {{/if}}

                                <a class="welcome" href="/">Welcome!</a>
            </nav>
    
    <div class="hero-image">
    </div>
    
        <main>
            <h3 class="heading">Discover Amazing Jewllery for Less!</h3>
            {{{ body }}}
        </main>

        <footer>

        </footer>

    
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>
</html>