<div class="text-center">
    <h2>{{product.name}}</h2>
    <p>{{product.description}}</p>
    <p>New product added by {{user.name}}</p>
    <p>
        <span>{{productPrice}}</span>
    </p>

    <p>
        <button>Select Item!</button>
    </p>
</div>