<div class="text-center">
    <h2>{{product.name}}</h2>
    <p>{{product.description}}</p>
    <p>New product added by {{user.name}}</p>
    <p>
        <span>{{product.price}}</span>
    </p>

    <p>
        <button>Select Item!</button>
        <a href="/review">Click to review the product</a>
    </p>
</div>