<div>
    <h1>Make a Review: </h1>

    <form class="form new-review-form">
        <div>
            <label>Your Name: </label>
            <input type="text" id="review-name"/>
        </div>

        <div>
            <label for="review-rating">Rating 1-5: </label>
            <input type="form-input" type="number" id="review-rating"/>
        </div>

        <div>
            <label for="review-comment">Comment about the product: </label>
            <input id="review-comment" name="review-comment"/>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>


{{#if review.length}}
    <h3 class="logo-2 align">Your Reviews:</h3>
    {{#each review as |review|}}
      <div class="card">
        <h2 class="logo-2 align">{{review.name}}</a></h2>
        <h4 class="align">{{review.comment}}</a></h4>
        <h4 class="align">{{review.rating}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

<script src="./js/review.js"></script>