:root {
    --dark: #545454;
    --gold: #A2825A;
    --violet: #A5ACD3;
    --light: #FFFFFF;
    --error: #bb4644;
    --border-radius: 0.3rem;
}

.logo {
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 10px;
    font-family: "Cinzel", "sans";
    font-size: 40px;
    color: var(--dark);
  }

.logo-2 {
    display: flex;
    justify-content: center;
    color: var(--gold);
    font-family: "Kumbh";
    font-size: 20px;
}
  
h1 {
    display: flex;
    font-family: "Cinzel", serif;
    color: var(--dark);
    justify-content: center;
  }

h2 {
    display: flex;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--gold);
  }

  .hero-image {
    background-image: url("../assets/images/heroimage.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
  }